<div class="container-margin">
  <div class="container d-flex justify-content-center w-75 text-left my-5">
    <h1>Pairings for <%= @wine.name %></h1>
  </div>


  <% @tags.each do |tag| %>
    <% tag.recipes.each do |recipe| %>
      <div class="card-trip">
        <div class="position-relative">
          <%= cl_image_tag recipe.photo.key, class: "recipe-img" %>
          <%= form_with url: add_to_wishlist_pairings_path, method: "POST", data: { turbo: false }, class: "recipe-add-pairing-form" do |f| %>
            <%= f.hidden_field :wine_id, as: :hidden, value: @wine.id %>
            <%= f.hidden_field :recipe_id, as: :hidden, value: recipe.id %>
            <div class="card-trip-user">
              <%= f.button '<i class="fa-regular fa-bookmark"></i>'.html_safe, type: :submit, class: "recipe-add-pairing-btn" %>
            </div>
          <% end %>
        </div>
        <div class="card-trip-infos">
          <h2><%= link_to recipe.title, recipe_path(recipe, wine_id: @wine) %></h2>
        </div>
        <div class="button-container text-center">
          <%= form_with url: add_to_done_pairings_path, method: "POST", data: { turbo: false } do |f| %>
            <%= f.hidden_field :wine_id, as: :hidden, value: @wine.id %>
            <%= f.hidden_field :recipe_id, as: :hidden, value: recipe.id %>
            <%= f.button "Pair", class: "btn-large" %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
