<div class="container-margin-2">

  <div class="top-container">
    <div>
      <p>PAIRINGS FOR:</p><h2> <%= @wine.name %></h2>
    </div>
    <%= cl_image_tag @wine.photo.key, class: "avatar-pair" %>
  </div>

<div class="container-recipes">
  <% @tags.each do |tag| %>
    <% tag.recipes.each do |recipe| %>
       <%= link_to recipe_path(recipe, wine_id: @wine) do %>
          <%= cl_image_tag recipe.photo.key, class: "img-recipe" %>
        <% end %>
          <div class="recipe-add-pairing-form">
           <div class="">
            <p><%= recipe.title %></p>
          </div>
            <%= form_with url: add_to_wishlist_pairings_path, method: "POST", data: { turbo: false }, class: "" do |f| %>
              <%= f.hidden_field :wine_id, as: :hidden, value: @wine.id %>
              <%= f.hidden_field :recipe_id, as: :hidden, value: recipe.id %>
              <%= f.button '<i class="fa-regular fa-bookmark"></i>'.html_safe, type: :submit, class: "round-button-mark" %>
            <% end %>
          </div>

        <div class="button-container text-center mb-5 mt-4">
          <%= form_with url: add_to_done_pairings_path, method: "POST", data: { turbo: false } do |f| %>
            <%= f.hidden_field :wine_id, as: :hidden, value: @wine.id %>
            <%= f.hidden_field :recipe_id, as: :hidden, value: recipe.id %>
            <%= f.button "Pair", class: "btn-large" %>
          <% end %>
        </div>
    <% end %>
  <% end %>
</div>
</div>
