<div class="container-margin-2">
<%= link_to :back do %>
  <%= icon('fa-solid', 'arrow-left', class: "back-arrow")%>
<% end %>
  <h2 class="text-center"><%= @recipe.title %></h2>
  <div class="recipe">
      <%= cl_image_tag @recipe.photo.key %>
      <p><strong>Ingredients:</strong> <%= @recipe.ingredients %></p>
      <p><strong>Instructions:</strong> <%= @recipe.instructions %></p>

<div class="button-container">
    <%= form_with url: add_to_done_pairings_path, method: "POST", data: { turbo: false } do |f| %>
        <%= f.hidden_field :wine_id, as: :hidden, value: @wine.id %>
        <%= f.hidden_field :recipe_id, as: :hidden, value: @recipe.id %>
        <%= f.button "Pair", class: "btn-large" %>
      <% end %>
     <%= form_with url: add_to_wishlist_pairings_path, method: "POST", data: { turbo: false } do |f| %>
        <%= f.hidden_field :wine_id, as: :hidden, value: @wine.id %>
        <%= f.hidden_field :recipe_id, as: :hidden, value: @recipe.id %>
        <%= f.button '<i class="fa-regular fa-bookmark"></i>'.html_safe, type: :submit, class: "recipe-add-pairing-btn" %>
      <% end %>
      </div>
  </div>
</div>
