<div class="navbar-app">
  <% if user_signed_in? %>
  <div class="icons-container">
    <%= link_to root_path do %>
      <%= icon('fa-solid', 'house', class: ("active-icon" if controller_name == "pages"))%>
    <% end %>
    <%= link_to cellar_path do %>
      <%= icon('fa-solid', 'wine-bottle', class: ("active-icon" if action_name == "cellar" && controller_name == "pages"))%>
    <% end %>
    <%= link_to pairings_path do %>
      <%= icon('fa-solid', 'heart', class: ("active-icon" if action_name == "index" && controller_name == "pairings"))%>
    <% end %>
    <%= link_to profile_path do %>
      <%= icon('fa-solid', 'user', class: ("active-icon" if action_name == "profile"))%>
    <% end %>
  </div>
  <% else %>
    <% unless controller_name == "sessions" || controller_name == "registrations"%>
      <%= link_to "Login", user_session_path, class: "btn-large" %>
      <% else %>
        <%= image_tag "logofabio.png", style:"height: 40px;" %>
    <% end %>
  <% end %>
</div>
