<div class="container d-flex justify-content-center mt-3">
  <%= image_tag "logofabio.png", style:"height: 80px;" %>
</div>

<hr>

<div class="container-filters-cellar">

<%= link_to cellar_path do %>
  <% if params[:color] %>
    <p class="btn-filter">All</p>
  <% else %>
    <p class="active-btn-filter">All</p>
  <% end %>
<% end %>
<% @colors.each do |color| %>
  <%= link_to cellar_path(color: color) do %>
    <% if params[:color] == color %>
      <p class="active-btn-filter"><%= color %></p>
    <% else %>
      <p class="btn-filter"><%= color %></p>
    <% end %>
  <% end %>
<% end %>


</div>

<div class="container-margin-2">
  <% @wines.each do |wine| %>
    <%= link_to wine_path(wine) do %>
      <div class="card-product-cellar">
        <%= cl_image_tag wine.photo.key %>
        <div class="card-product-infos">
          <h3><%= "#{wine.name}, #{wine.year}" %></h3>
          <p><%= "#{wine.region}, #{wine.country}." %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
