<div class="container d-flex justify-content-center mt-3">
  <%= image_tag "logofabio.png", style:"height: 80px;" %>
</div>
<hr>
<div class="container d-flex justify-content-center mb-3 mt-1">
  <h1>Cellar</h1>
</div>

<div class="container-margin-2">
  <% @wines.each do |wine| %>
    <%= link_to wine_path(wine) do %>
      <div class="card-product-cellar">
        <%= cl_image_tag wine.photo.key %>
        <div class="card-product-infos">
          <h3><%= "#{wine.name}, #{wine.year}" %></h3>
          <p><%= "#{wine.region}, #{wine.country}." %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
