<div class="container mt-4 mx-3">
  <%= image_tag "logofabio.png", style:"height: 100px;" %>
</div>
<div class="card-container">
  <%= link_to pair_wine_path do %>
    <div class="card-product">
      <%= image_tag "wines.jpg" %>
      <div class="card-product-infos">
        <h2>Pair Wine</h2>
        <p>Find the perfect<strong> recipe</strong> for your wine.</p>
      </div>
    </div>
  <% end %>

  <%= link_to pair_recipe_path do %>
    <div class="card-product">
      <%= image_tag "recipes.jpg" %>
      <div class="card-product-infos">
        <h2>Pair Recipe</h2>
        <p>Find the perfect<strong> wine</strong> for your recipe.</p>
      </div>
    </div>
  <% end %>
</div>
