<%= image_tag "recipes.jpg", class:"banner" %>
<%= link_to root_path do %>
  <%= icon('fa-solid', 'arrow-left', class: "back-arrow")%>
<% end %>

<div class="form-position">
  <div class="container-pair-h1">
    <h1>Pair Recipe</h1>
  </div>
  <%= form_with url: wines_path, method: :get, data: { turbo: false } do |f| %>
    <div class="d-flex justify-content-center">
      <%= f.collection_select(:recipe, @recipes, :title, :title, :prompt => "Select your recipe") %>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.submit "Pair", class:"btn-large btn-position" %>
    </div>
  <% end %>
</div>
