<div class="container d-flex justify-content-center mt-3">
  <%= image_tag "logofabio.png", style:"height: 80px;" %>
</div>
<hr>
<div class="container mt-4 text-center">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class:"avatar-large" %>
  <% else %>
    <%= image_tag "userblanck.webp", class:"avatar-large" %>
  <% end %>
</div>
<div class="icons-container px-5">
    <%= link_to edit_user_registration_path do %>
      <%= icon('fa-solid', 'pen', class:"profile-icons")%>
    <% end %>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
      <%= icon('fa-solid', 'right-from-bracket', class:"profile-icons")%>
    <% end %>
</div>

<style>
  .profile-text p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(190, 155, 161, 1);
    margin-left: 5%;
    margin-right: 5%;
    text-align:justify;
  }

</style>

<div class="profile-text">
<p>Pocket Sommelier is an app that helps wine and food enthusiasts discover perfect pairings between wines and recipes. Users can select a wine or a recipe and receive personalized suggestions for wine and recipe pairings that complement each other. The app also provides additional features such as wine region, information on grape varieties, and food pairing suggestions based on the type of wine. Overall, Pocket Sommelier is an excellent tool for anyone looking to explore the world of wine and gastronomy and create delicious and unforgettable meals.</p>
</div>
