<div class="container d-flex justify-content-center mt-3">
  <%= image_tag "logofabio.png", style:"height: 80px;" %>
</div>
<hr>

<div class="container-margin-2">
  <div class="pairings-title">
    <h1> My Pairings </h1>
  </div>
    <div class="container-filters-pairing">
      <%= link_to pairings_path(favorite: false) do %>
        <% if params[:favorite] == "false" || !params[:favorite]  %>
          <p class="active-btn-filter">Done</p>
        <% else %>
          <p class="btn-filter">Done</p>
        <% end %>
      <% end %>
      <%= link_to pairings_path(favorite: true) do %>
        <% if params[:favorite] == "true"  %>
          <p class="active-btn-filter">Saved</p>
        <% else %>
          <p class="btn-filter">Saved</p>
        <% end %>
      <% end %>
  </div>

  <% @pairings.each do |pairing| %>
    <%= link_to pairing_path(pairing) do %>
      <div class="pairing">
        <div class="wine-card-pairings">
            <%= cl_image_tag pairing.wine.photo.key, { class: 'pairing-img' } %>
        </div>
        <div class="recipe-card-pairings">
            <%= cl_image_tag pairing.recipe.photo.key, { class: 'pairing-img recipe-img' } %>
        </div>
        <div class="pairing-titles">
            <%= pairing.wine.name %><br><%= pairing.recipe.title %>
        </div>
      </div>
    <% end %>
    <% if pairing.favorite  %>
      <div class="d-flex justify-content-center">
        <%= link_to "Mark as done", pairing_path(pairing), data: { turbo_method: :patch }, class: "btn-large-secondary px-3" %>
      </div>
    <% end %>
  <% end %>
</div>
