<div class="container d-flex justify-content-center mt-3">
  <%= image_tag "logofabio.png", style:"height: 80px;" %>
</div>
<hr>

<div class="container-margin-2">
<div class="pairings-title">
  <h1> My Pairings </h1>
</div>

<% @pairings.each do |pairing| %>
  <div class="pairing">
    <div class="wine-card-pairings">
      <%= link_to pairing_path(pairing) do %>
        <%= cl_image_tag pairing.wine.photo.key, { class: 'pairing-img' } %>
      <% end %>
    </div>
    <div class="recipe-card-pairings">
      <%= link_to pairing_path(pairing) do %>
        <%= cl_image_tag pairing.recipe.photo.key, { class: 'pairing-img recipe-img' } %>
      <% end %>
    </div>
    <div class="pairing-titles">
      <%= pairing.wine.name %><br><%= pairing.recipe.title %>
    </div>
  </div>
<% end %>
</div>
