<div class="container-margin">
<p><%= @pairing.wine.name %>  </p>
<h3><%=@pairing.recipe.title %> </h3>

<%= link_to wine_path(@pairing.wine) do %>
  <div class="wine-card-cellar">
    <%= cl_image_tag @pairing.wine.photo.key %>
  </div>
<% end %>

<div class="recipe-card-pairing">
   <%= link_to recipe_path(@pairing.recipe, wine_id: @pairing.wine_id) do %>
   <%= cl_image_tag @pairing.recipe.photo.key %>
   <% end %>
</div>
<h1 class="text-center my-5"> That's your pair! </h1>
<%= link_to "<i class='fa-solid fa-trash'></i>".html_safe, pairing_path(pairing), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this pairing?' }, class: "profile-icons" %>
</div>
