<<<<<<< HEAD
<div class="container-margin-2">
=======
<div class="container-margin">
<%= link_to :back do %>
  <%= icon('fa-solid', 'arrow-left', class: "back-arrow")%>
<% end %>
>>>>>>> 2d901c27030b13421ac3127b48594316dd2598e9
<p><%= @pairing.wine.name %>  </p>
<h3><%=@pairing.recipe.title %> </h3>

<%= link_to wine_path(@pairing.wine) do %>
  <div class="wine-card-cellar">
    <%= cl_image_tag @pairing.wine.photo.key %>
  </div>
<% end %>

<div class="recipe-card-pairing">
   <%= link_to recipe_path(@pairing.recipe, wine_id: @pairing.wine_id) do %>
   <%= cl_image_tag @pairing.recipe.photo.key %>
   <% end %>
</div>
<h1 class="text-center my-5"> That's your pair! </h1>
</div>
