<div class="container-margin-2">
  <div class="container d-flex justify-content-center w-75 text-left my-5">
    <h1>Pairings for <%= @recipe.title %></h1>
  </div>

  <% @tags.each do |tag| %>
    <% tag.wines.each do |wine| %>
      <div class="card-trip">
        <%= cl_image_tag wine.photo.key %>
        <div class="card-trip-infos">
          <h2><%= link_to wine.name, wine_path(wine, recipe_id: @recipe) %></h2>
        </div>
        <div class="button-container">
         <%= form_with url: add_to_done_pairings_path, method: "POST", data: { turbo: false } do |f| %>
            <%= f.hidden_field :wine_id, as: :hidden, value: wine.id %>
            <%= f.hidden_field :recipe_id, as: :hidden, value: @recipe.id %>
            <%= f.button "Pair", class: "btn-large" %>

          <% end %>
         <%= form_with url: add_to_wishlist_pairings_path, method: "POST", data: { turbo: false } do |f| %>
            <%= f.hidden_field :wine_id, as: :hidden, value: wine.id %>
            <%= f.hidden_field :recipe_id, as: :hidden, value: @recipe.id %>
              <%= f.button '<i class="fa-regular fa-bookmark"></i>'.html_safe, type: :submit, class: "recipe-add-pairing-btn" %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
