<!DOCTYPE html>
<html>
  <head>
    <title>Pocketsommelier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Pocket Sommelier">
    <meta property="og:description" content="Find the perfect match for your food and wine.">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../../assets/images/meta_cover.png">
    <meta property="og:url" content="http://pocketsommelier-andrenelas93.herokuapp.com">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "pocketsom.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
